.container-display-boat {
  max-width: 690px;
  display: flex;
  
  &__image {
    width: 350px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 2px;
  }
  &__text {
    flex: 1 1 auto;
    height: auto;
  }
}
.container-display-boat h3 {
  font-size: 15px;
}
.bottom-button {
  text-align: left;
}
.btn-prim-col {
  display:inline-block;
  font-size: 10px;
}
.white-card {
  opacity: 90%;
  background-color: #FCFCFC ;
  max-width: 750px;
  padding: 8px 8px 8px 8px;
}
