    
    
    
    
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i>
             </a><a href="#"><i class="icon ion-social-snapchat"></i>
             </a><a href="#"><i class="icon ion-social-twitter"></i>
             </a><a href="#"><i class="icon ion-social-facebook"></i>
             </a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
        </footer>
    </div>

    <%# <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-2">
          <div class="first">
            <h5 class="contact">Contact Us</h5>
            <ul class="list-unstyled">
              <li>Contact Us</li>
              <li>Submit Ticket</li>
            </ul>
          </div>
          <div class="second">
            <h5 class="about">About</h5>
            <ul class="list-unstyled">
              <li>Our Company</li>
              <li>Imprint</li>
              <li>Careers</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <div class="first">
            <h5 class="features">Information</h5>
            <ul class="list-unstyled">
              <li>Boat rental</li>
              <li>Register your boat</li>
              <li>Good destinations</li>
              <li>Sailing schools</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="first">
            <h5 class="comparison">Knowledgebase</h5>
            <ul class="list-unstyled">
              <li>International maritime law</li>
              <li>Insurance Information</li>
              <li>Skipper's training</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <div class="first">
            <h5 class="help">Help Resources</h5>
            <ul class="list-unstyled">
              <li>FAQ</li>
              <li>Help Docs</li>
              <li>Support</li>
            </ul>
          </div>
          <div class="second-less">
            <h5 class="affiliate">Affiliate Partners</h5>
            <ul class="list-unstyled">
              <li>Become An Affiliate</li>
              <li>See Our Partners</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="first">
            <h5 class="artical">Top Articles</h5>
            <ul class="list-unstyled">
              <li>Bahamas in Winter</li>
              <li>Once around the globe in 365 days</li>
              <li>Living on a boat</li>
            </ul>
          </div>
        </div>
      </div> %>
      