<div class="container mx-auto py-4 w-50">
    <div class="mx-auto my-5 p-4 br-10 opac-50">
        <h2 class="text-center text-white mx-auto p-5"><%= "None of your listed boats has been booked yet ⛵⛵⛵" %></h2>
    </div>
</div>
