.banner {
  color: white;
  text-align: left;
  height: 344px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: #276678 ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  margin-bottom: 32px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
}
