.btn-sec-col {
  background-color: #B0CAC7;
  padding: 10px 30px;
  color: black;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    font-weight: bold;
    // background-color: rgba(39, 102, 120, 0.8);


  }
}

