.card-boat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-boat > img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.card-boat h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-boat p {
  font-size: 18px;
  opacity: .8;
  margin: 0;
}

.card-boat .card-boat-headline {
  padding: 16px 16px 1px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-boat .card-boat-infos {
  padding: 0px 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
