.opac-50 {
  background-color: rgba(255,255,255,0.2);
}

.br-10 {
  border-radius: 10px;
}

.w-60 {
  width: 60%;
}

.relative-100 {
  position:relative;
  top: 40px;
}

.margin-140 {
  margin-top: 140px;
}


