.footer-basic {
    padding: 0 2px;
    width: 100%;
    background-color :#276678;
    color: white;
    opacity: 0.9;
    
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size: 10px;
    line-height:1;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 2px;
  }
  
  .footer-basic ul a {
    color: white;
    text-decoration:none;
    opacity:0.7;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:3px;
  }
  
  .footer-basic .social > a {
    font-size:14px;
    line-height:10px;
    display:inline-block;
    text-align:center;
    margin:0 5px;
    color:white;
    opacity:0.7;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.content-container {
  min-height: calc(100vh - 67px - 36px);
}